:root {
  --background-color-main: #ffffff;
  --color-main: #2e2f42;
  --color-second: #4d5ae5;
  --contacts-color: #434455;
  --background-color-secondary: #f4f4fd;
  --backgroung-section-last: #8e8f99;
  --footer-text: #e7e9fc;
  --portfolio-btn-active: #404bbf;
  --container-width: 1158px;
  --section-padding-top-bottom: 120px;
  --container-padding-left: 15px;
  --container-padding-right: 15px;
  --portfolio-card-padding: 32px;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

.page {
  background-color: var(--background-color-main);
  font-family: 'Roboto', sans-serif;
  color: var(--color-main);
  letter-spacing: 0.02em;
}
.list {
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}
.link {
  text-decoration: none;
}
.container {
  width: var(--container-width);
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--container-padding-left);
  padding-right: var(--container-padding-right);
  
}
.centered {
  text-align: center;
}
/* Header */
.page-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--footer-text);
}
.container.page-header{
  padding-top: 24px;
  padding-bottom: 24px;
}
.header-nav {
  display: flex;
  align-items: center;
  padding: 0px;
}

.logo-link {
  margin-right: 76px;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-main);
}
.logo-web {
  color: var(--color-second);
}
.header-nav.list {
  padding: 0;
  width: 261px;
  display: flex;
  justify-content: space-between;
}

.header-nav.link {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: var(--color-main);
}
.header-nav.link:hover,
.header-nav.link:focus {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: var(--portfolio-btn-active);
}
.contacts {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: auto;
}

.contacts.list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  width: 344px;
}
.contacts.link {
  color: var(--contacts-color);
  font-style: normal;
  margin: 0;
}
.contacts.link:hover,
.contacts.link:focus {
  color: var(--portfolio-btn-active);
}
/* Footer */
.page-footer {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: var(--color-main);
  color: var(--footer-text);
}
.page-footer .logo-link{
  margin-right: 0;
  margin-bottom: 16px;
}
.logo-studio {
  color: var(--background-color-secondary);
}
.footer-text {
  margin: 0;
  width: 264px;
  font-size: 16px;
  line-height: 1.5;
}

/* Studio page */
/* Titles on the page */
.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
}
/* Hero */
.section.hero {
  padding-top: 188px;
  padding-bottom: 188px;
  background-color: var(--color-main);
  color: var(--background-color-main);
}
.hero-title {
  width: 496px;
  min-height: 120px;
  margin-top: 0;
  margin-bottom: 48px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  padding-right: 0;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  border: 0;
}
.hero-button {
  min-width: 169px;
  min-height: 56px;
  padding: 16px 32px;
  background-color: var(--color-second);
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  letter-spacing: 0.04em;
  color: var(--background-color-main);

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 2px solid transparent;
  cursor: pointer;
}
.hero-button:hover,
.hero-button:focus {
  background-color: var(--portfolio-btn-active);
}

/* Section 1 */
.section {
  padding-top: var(--section-padding-top-bottom);
  padding-bottom: var(--section-padding-top-bottom);
}
.feature-list {
  padding-left: var(--container-padding-left);
  padding-right: var(--container-padding-right);
  display: flex;
  justify-content: space-between;
  margin-left: -24px;
}
.feature-list-item {
  flex-basis: calc((100%-24px * 3) / 4);
  margin-left: 24px;
}
.feature-item {
  margin-top: 0;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}
.feature-descr {
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
}
/* Section 2 */
.section.job {
  padding-top: 0;
}
.job-title {
  margin-top: 0;
  margin-bottom: 72px;
}
.job-list {
  display: flex;
  justify-content: space-between;
  padding-left: var(--container-padding-left);
  padding-right: var(--container-padding-right);
}

/* Section 3 */
.team {
  background-color: var(--background-color-secondary);
  padding-top: 120px;
  padding-bottom: 120px;
  text-align: center;
}
.team-title {
  margin-top: 0px;
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  justify-content: space-between;

  padding-left: var(--container-padding-left);
  padding-right: var(--container-padding-right);
}

.team-list-item {
  background: var(--background-color-main);
}
.team-img {
  margin-bottom: 32px;
}
.team-member {
  margin-top: 0;
  margin-bottom: 8px;
}
.team-member-pos {
  margin-top: 0;
  margin-bottom: 32px;
}

/* Portfolio page */

/* Section 1 */
.projects.section {
  padding-top: 96px;
  padding-bottom: 120px;
}
.section-title {
  color: var(--color-main);
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.filter-list {
  margin-left: -24px;
  padding-left: 0;
  display: flex;
  justify-content: center;
}
.btn-filter {
  margin-left: 24px;
  margin-bottom: 72px;
  padding: 12px 24px;
  font-family: 'Roboto';
  font-weight: 500;
  background-color: var(--background-color-secondary);
  color: var(--color-second);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border: 1px solid var(--footer-text);
  cursor: pointer;
}
.btn-filter:hover,
.btn-filter:focus {
  background-color: var(--portfolio-btn-active);
  color: var(--background-color-main);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  cursor: pointer;
}
/* Projects */
.project-list {
  margin-top: -48px;
  margin-left: -24px;
  margin-bottom: 0;
  padding-left: var(--container-padding-left);
  padding-right: var(--container-padding-right);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}
.project-item {
  margin-top: 48px;
  margin-left: 24px;
  
}

.project-item-name {
  margin-top: 0;
  margin-bottom: 8px;
  margin-left: 16px;
  color: var(--color-main);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}
.project-item-type {
  margin-top: 0;
  margin-left: 16px;
  margin-bottom: 0;
  color: var(--contacts-color);
  font-size: 16px;
  line-height: 1.5;
}
.wrapper {
  padding-top: var(--portfolio-card-padding);
  padding-bottom: var(--portfolio-card-padding);
  border-left: 1px solid var(--footer-text);
  border-right: 1px solid var(--footer-text);
  border-bottom: 1px solid var(--footer-text);
}
